* { box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.altura_nav {
    height: 10vh;
}
.align_aside {
    display: flex;
    flex-flow:wrap ;
    align-items: center;
}
.altura_footer {
    height: 10vh;
}
h2 {
    color: aliceblue;
}
p {
    color: aliceblue;
}